// <МИКСИНЫ>============================================================================================================
@import "_mixins";
// </МИКСИНЫ>============================================================================================================

// <ШРИФТЫ>============================================================================================================

// <Подключаем шрифты>============================================================================================================

// </Подключаем шрифты>============================================================================================================

// <Шрифт по умолчанию>============================================================================================================

// </Шрифт по умолчанию>============================================================================================================

// </ШРИФТЫ>============================================================================================================

// <ПЕРЕМЕННЫЕ>============================================================================================================

// </ПЕРЕМЕННЫЕ>============================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>============================================================================================================
@import "_null";

body {
	padding: 50px 50px;
	background: rgb(44, 43, 43);
}
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>============================================================================================================

// <ОБОЛОЧКА>============================================================================================================

// </ОБОЛОЧКА>============================================================================================================

// <ОСНОВНАЯ СЕТКА>============================================================================================================

// </ОСНОВНАЯ СЕТКА>============================================================================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
@import "_ui";

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
// <ОСНОВНОЙ БЛОК>============================================================================================================
.slider {
	padding: 0px 50px;
	& .slick-arrow {
		position: absolute;
		top: 50%;
		margin: -25px 0px 0px 0px;
		z-index: 2;
		font-size: 0;
		width: 50px;
		height: 50px;
		&.slick-prev {
			left: 0;
			background: url("../../img/arrow_next.png") 0 0 / 100% no-repeat;
		}
		&.slick-next {
			right: 0;
			background: url("../../img/arrow_next.png") 0 0 / 100% no-repeat;
		}
		&.slick-disabled {
			//opacity: 0.2; /* для infinite: false */
		}
	}
	// .slider__item
	&__item {
		//text-align: center; /* для centerMode: true */
		//opacity: 0.4; 
		//transition: all 0.3s ease 0s;
		&.slick-center {
			//opacity: 1;
		}
	}
}

// </ОСНОВНОЙ БЛОК>============================================================================================================
